*{padding:0;margin:0;}

body{
    background-color:#fff;
    font-family: "roboto", sans-serif;
}

.row{
	box-sizing:border-box;
	width:100%; 
    display:flex; 
    flex-direction:row;
    flex-wrap:wrap;	
    margin:0px;    
}

.col-md-1{width:8.33%; box-sizing:border-box;}
.col-md-2{width:16.66%; box-sizing:border-box;}
.col-md-3{width:25%; box-sizing:border-box;}
.col-md-4{width:33.33%; box-sizing:border-box;}
.col-md-5{width:41.67%; box-sizing:border-box;}
.col-md-6{width:50%; box-sizing:border-box;}
.col-md-7{width:58.33%; box-sizing:border-box;}
.col-md-8{width:66.67%; box-sizing:border-box;}
.col-md-9{width:75%; box-sizing:border-box;}
.col-md-10{width:83.33%; box-sizing:border-box;}
.col-md-11{width:91.67%; box-sizing:border-box;}
.col-md-12{width:100%; box-sizing:border-box;}

.header{
    margin:0px 0px 50px;
    min-height:30px;
    position: fixed;
    padding:10px 0px 0px 20px;
    background-color: #fff;
    box-shadow:1px 1px 15px #4d4d4d;
    z-index:1;
    font-family: "Montserrat";
    font-weight:500;
}

.logo{
    width:22%;
}

.hamburger{display:none;}

.nav ul{
    display:flex;
    float:right;
    list-style-type:none;
    padding:0px 20px;
    margin-left:auto;
}

.nav ul li{padding:0px 10px;}

.nav ul li a{
    text-decoration: none;
    padding:5px;
    font-size:15px;
    color:#006633;
}

.nav ul li a:hover{
    color:#00994d; 
    border-bottom:3px solid #00994d;
    transition: 0.3s ease;
}

.nav ul a button{
    height:27px;
    width:80px;
    border:1px solid #006633;
    border-radius:5px;
    color:#006633;
    font-size:15px;
    background-color:transparent;
    cursor: pointer;
    text-align:center;
    outline: none;
    padding-bottom:2px;
    font-weight:500;
    margin-left:15px;
}

.nav a button:hover, .more-products a button:hover{
    box-shadow:1px 1px 5px #4d4d4d;
    background-color: #008040;
    color:#fff;
    transition:0.5s ease-in;
    border:none;
}

nav ul li.active a{color:#00994d; border-bottom:3px solid #00994d;}

.first-section{
    height:100%;
    padding:100px 0px 50px;
}

.tech-demystified{
    text-align:center;
    align-self: center;
    letter-spacing: 3px;
    font-size:100px;
    font-weight: 700;
    z-index:0;
    line-height:1.5;
    opacity: 0.2;
}

#tech{color:#1c41b0}

#demystified{padding-left:100px;color:#00b359;}

.about{color:#333;}

.about h3, .third-section h3{
    text-align: center;
    letter-spacing: 1px;
    color:#008840; 
    padding-bottom:20px;
    font-size:30px;
}

.about p{
    text-align: justify;
    padding:0px 80px 20px;
    font-size:17px;
}

.second-section{
    height:100%;
    margin:50px 0px;
}

.vision, .mission{
    background-color:#fff;
    border:none;
    box-shadow:0px 0px 10px #006633;
    border-radius: 5px;
    max-width:40%;
    min-height:150px;
    margin:20px auto 50px;
    display:block;
}

.mv{display:flex; margin:5px;color:#008840; opacity:0.7;}

.vision i, .mission i{
    padding:0px 5px;
    font-size: 40px;
}

.vision h3, .mission h3{
    text-align: center;
    padding:5px 5px 0px;
}

.vision p, .mission p{
    padding:10px 0px 10px 10px;
    color:#4d4d4d;
}

.third-section{
    height:100%;
    margin:80px 0px;
}

.first-row, .second-row{display:flex; margin:30px 0px;}

.team img{
    display: block;
    margin: 15px auto;
    height:150px;
    width:150px;
    border-radius: 50%;
}

.team h5{
    text-align:center;
    color:#1c41b0;
    opacity:0.85;
    font-size:20px;
    cursor: pointer;
}

.team p{
    text-align: center;
    color: #00b359;
    font-size:15px;
    
}

.modal-header p{
    padding:6px 10px;
    font-size:14px;
}

.modal-header button{outline:none; font-size:30px;}

.modal-body p{
    text-align: left;
    color:#4d4d4d;
    font-size:16px;
}

.modal-footer a{
    font-size:25px;
    padding:10px;
    text-decoration:none;
}

.fourth-section{height:100%; margin:20px 0px 20px; flex-direction: column;}

.tab {
    display:block;
    margin:0 auto;
}
  
.tab button {
    background-color: inherit;
    outline: none;
    cursor: pointer;
    padding: 5px 30px;
    transition: box-shadow 0.3s;
    font-size: 17px;
    margin:0px 50px;
    font-size:25px;
    letter-spacing:1px;
    color: #b3b3b3;
    border:1px solid #b3b3b3;
    border-radius:5px;
    font-weight: 500;
}
  
.tab button.active, .tab button:hover {
    color: #666;
    border:1px solid #666;
    border-radius:5px;
    box-shadow: 0px 0px 11px rgba(0,0,0,.3);
}

.tabcontent{
    display:none;
    margin:5%;
    -webkit-animation: fadeEffect 1.5s;
    animation: fadeEffect 1.5s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
.tabcontent img{
    margin:0px 0px 20px 20px;
}

.topright {
    float: right;
    cursor: pointer;
    font-size: 40px;
  }
  
.topright:hover {color:#008040;}

.footer{
    align-content: center;
    min-height:100%;
    background-color:#0d0d0d;
    color:#737373;
}

.contact-info, .location, .posts{padding-top: 50px;}

.contact-info img{
    margin:0px 0px 10px 30px;
}

.contact-info p{
    padding:10px 0px 0px 30px;
}

.contact-icon{padding:20px 0px 0px 15px ;}

.contact-icon a{
    text-align: center;
    font-size:22px;
    color:#666;
    padding-left:15px;
    text-decoration:none;
}

.address{display:flex;}

.address i{
    font-size:25px;
    padding:6px 0px 0px;
}

.address p{padding:5px 15px; font-size:17px;}

.posts h6{
    font-size:25px;
    padding:0px 10px 10px;
}

.posts hr{
    margin-left:10px;
    width:65%;
    background-color:#999;
}

.posts a{
    font-size:17px;
    line-height:1.2;
    padding:5px;
    color:#737373;
    text-decoration:none;
}

.copyright{
    font-size:12px; 
    text-align:center;
    padding: 50px 0px 0px;
    color:#666;
}

.top-link {
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 5%;
    right: 2%;
    display: inline-flex;
    cursor: pointer;
}

.top-link button{
    outline:none;
    width:40px;
    height:40px;
    border:none;
    border-radius:50%;
    background-color:#008840;
    font-size:30px;
    color:#fff;
}

.show{
    visibility: visible;
    opacity: 1;
    transition:all 2s ease;
}
  
.hide {
    visibility: hidden;
    opacity: 0;
}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 767px) {
    [class*="col-"] {
        width: 100%;
        flex-wrap:wrap;
    }

    .header{padding-left:0px;}

    .logo{margin:0px 0px 10px;}

    .hamburger{
        display:inline;
        margin-left:auto;
        position:absolute;
        top:20%;
        right:5%;
        color:#00994d;
        cursor: pointer;
    }

    .nav ul{
        width:100%;
        height:100vh;
        position:fixed;
        flex-direction: column;
        padding:50px 0px; margin:0px;
        background-color: rgba(0, 128, 64, 0.9);
        left:0px;
        clip-path:circle(100px at 90% -30%);
        -webkit-clip-path:circle(100px at 90% -30%);
        transition: all 1.5s ease;
    }

    .nav ul.open{
        clip-path:circle(1500px at 90% -30%);
        -webkit-clip-path:circle(1500px at 90% -30%);
    }

    .nav ul li {padding:25px;}

    .nav ul li a{color:#ccffee; letter-spacing:1px;}

    .nav ul a button{
        margin:25px 30px;
        border:1px solid #ccffee;
        color:#ccffee;
        padding-bottom:0px;
    }
    
    .nav ul a button:active{
     background-color:#006633;
     border:none;
    }

    .nav ul li.active a, .nav ul li a:hover{ 
        color:#ccffee;
        border-bottom:3px solid #ccffee;
    }

    .first-section{padding:80px 0px 50px;}

    .tech-demystified{
        position:absolute;
        font-size:50px;
        line-height:2;
        opacity: 0.2;
        letter-spacing:5px;
    }

    .about p{padding:5px;}

    #demystified{padding-left:0px;}

    .vision, .mission{
        max-width:100%;
        margin:0px 20px 50px;
    }

    .mv{display:flex; margin:0px 0px 0px; width:100%;}

    .vision i, .mission i{margin:5px 0px; font-size:35px;}

    .vision i{margin-top:2px;}

    .vision h3, .mission h3{
        text-align:left;
        width:100%;
        font-size:25px;
        padding-top:5px;
    }

    .vision p, .mission{font-size:16px;}

    .tab button {margin:5px;}

    .tabcontent img{
        display:block;
        margin:10px auto 0px;
    }

    .contact-info, .location, .posts{margin-left: 15px;}

    .contact-info img{margin:0px;}
    
    .contact-info p{padding:20px 0px 0px;}
    
    .contact-icon, .contact-icon a{padding:0px 15px 0px 0px;}

    .posts h6, .posts p{padding-left:0px;}

    .posts hr{
        margin-left:0px;
        width:80%;
    }

    .top-link {right: 4%;}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-section{min-height:50vh;}

    .header{padding-left:0px;}

    .logo{margin:0px 0px 10px;}

    .hamburger{
        display:inline;
        margin-left:auto;
        position:absolute;
        top:20%;
        right:5%;
        color:#00994d;
        cursor: pointer;
    }

    .nav ul{
        width:100%;
        height:100vh;
        position:fixed;
        flex-direction: column;
        padding:50px 20px; margin:30px 0px 0px;
        background-color: rgba(0, 128, 64, 0.9);
        left:0px;
        clip-path:circle(100px at 90% -30%);
        -webkit-clip-path:circle(100px at 90% -30%);
        transition: all 1.5s ease;
    }

    .nav ul.open{
        clip-path:circle(2500px at 90% -30%);
        -webkit-clip-path:circle(2500px at 90% -30%);
    }

    .nav ul li {padding:25px;}

    .nav ul li a{color:#ccffee; letter-spacing:1px;}

    .nav ul a button{
        margin:25px 30px;
        border:1px solid #ccffee;
        color:#ccffee;
        padding-bottom:0px;
    }

    .nav ul a button:active{
        background-color:#006633;
        border:none;
    }
   
    .nav ul li.active a, .nav ul li a:hover{ 
        color:#ccffee;
        border-bottom:3px solid #ccffee;
    }

    .first-section{padding:80px 0px 50px;}

    .about p{padding:5px;}
}
